@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
    min-height:100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    min-height: 100vh;
}

img{
    max-width: 100%;
}

header{
    margin: 71px 12px;
}

header h1{
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47.7px;
    width: 278px;
    letter-spacing: -0.045em;
}

header h2{
    width: 117px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;    
}

header p{
    width: 333px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

@media only screen and (min-width: 768px){
    header{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px
    }
    header h1, h2{
        margin-top: 0;
    }
}

.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 19px;
}

.team-member{
    margin: 5px 22.8px 32px 0;
    position: relative;
    width: 138.72px;
    height: 261.4px;
}

.team-member:nth-child(2n + 2){
    top: 50px;
}

.team-member:last-child{
    margin-bottom: 180px;
}

@media only screen and (min-width: 768px){
    .team{
        grid-template-columns: repeat(3, 1fr);
        margin: 71px 275px 185px 240px;
    }

    .team-member{
        width: 238px;
        height: 426.5px;
        margin-left: 56.64px;
    }

    .team-member:nth-child(2n + 5){
        top: 150px;
    }

    .team-member:last-child{
        margin-bottom: 0px;
    }
}

.name{
    width: 128px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
}

.rol{
    width: 130px;
    font-family: 'PT Serif', serif;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    position: absolute;
    transform: rotate(90deg);
    top: 50px;
    left: 80px;
}

@media only screen and (min-width: 768px){
    .rol{
        left: 180px;
    }
}

.footer{
    text-align: center;
    font-size: 14px;
    color: lightgray;
    width: 100%;
    bottom: 0;
}

@media only screen and (min-width: 768px){
    .footer{
        padding-top: 20px
    }

}

.footer span{
    font-weight: bold;
    text-decoration: underline;
}